[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "Engine/CoreModule/spdlog"]
	path = Engine/CoreModule/spdlog
	url = git@github.com:gabime/spdlog.git
